<!DOCTYPE html>
<html lang="en">
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         
    <html class="no-js lt-ie9" xmlns:ng="http://angularjs.org" id="bootstrapThemeApp" data-ng-app="bootstrapThemeApp" data-ng-controller="MainCtrl"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" data-ng-app="bootstrapThemeApp" data-ng-controller="MainCtrl"> <!--<![endif]-->

<head>
    <meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">

	<title data-ng-bind="ngx.head_info.title"></title>
	<meta name="description" content="{{ngx.head_info.meta_description}}">
	<meta name="keywords" content="{{ngx.head_info.meta_keywords}}">
	<meta name="author" content="{{ngx.head_info.meta_author}}">
	<!--[if lte IE 8]>
	<script>
	document.createElement('ng-include');
	document.createElement('ng-pluralize');
	document.createElement('ng-bind');
	document.createElement('ng-view');
	document.createElement('ui-view');
	document.createElement('slide');
	document.createElement('carousel');

	// Optionally these for CSS
	document.createElement('ng:include');
	document.createElement('ng:pluralize');
	document.createElement('ng:bind');
	document.createElement('ng:view');
	document.createElement('ui:view');
	</script>
	<![endif]--> 


	<!-- Place favicon.ico and apple-touch-icon.png in the root directory -->
	<!-- build:css(client) app/vendor.css -->
	<!-- bower:css -->
	<!-- endbower -->
	<!-- endbuild -->
	<!-- build:css({.tmp,client}) app/app.css -->
	<!-- <link rel="stylesheet" href="../../app/app.css"> -->
	<!-- injector:css -->
	<!-- endinjector -->
	<!-- endbuild -->

	
	<link rel="shortcut icon" href="assets/images/gt_favicon.png">
	
	<!-- Bootstrap itself -->
	<link href="http://netdna.bootstrapcdn.com/bootstrap/3.0.3/css/bootstrap.min.css" rel="stylesheet" type="text/css">

	<!-- Custom styles -->
	<link rel="stylesheet" href="assets/css/magister.css">

	<!-- Fonts -->
	<link href="http://netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css" rel="stylesheet" type="text/css">
	<link href='http://fonts.googleapis.com/css?family=Wire+One' rel='stylesheet' type='text/css'>
	
</head>

<!-- use "theme-invert" class on bright backgrounds, also try "text-shadows" class -->
<body class="theme-invert">

<nav class="mainmenu">
	<div class="container">
		<div class="dropdown">
			<button type="button" class="navbar-toggle" data-toggle="dropdown"><span class="icon-bar"></span> <span class="icon-bar"></span> <span class="icon-bar"></span> </button>
			<!-- <a data-toggle="dropdown" href="#">Dropdown trigger</a> -->
			<ul class="dropdown-menu" role="menu" aria-labelledby="dLabel">
				<li><a href="#head" class="active" id="slogan" data-ng-bind="ngx.head_info.brand">Hello</a></li>
				<li><a href="#about" data-ng-bind="ngx.about.ttl">About me</a></li>
				<li><a href="#themes" data-ng-bind="ngx.works.ttl">Themes</a></li>
				<li><a href="#contact" data-ng-bind="ngx.contact.ttl">Get in touch</a></li>
			</ul>
		</div>
	</div>
</nav>


<!-- Main (Home) section -->
<section class="section" id="head">
	<div class="container">

		<div class="row">
			<div class="col-md-10 col-lg-10 col-md-offset-1 col-lg-offset-1 text-center">	

				<!-- Site Title, your name, HELLO msg, etc. -->
				<h1 class="title" id="slogan"  data-ng-bind="ngx.head_info.slogan">Magister</h1>
				<h2 class="subtitle" id="subslogan" data-ng-bind="ngx.head_info.subslogan">Free html5 template by GetTemplate</h2>

				<!-- Short introductory (optional) -->
				<h3 class="tagline" data-ng-bind="ngx.head_info.description">
					Potentially, the best place to tell people why they are here.<br>
					So, this is a demo page built to showcase the beauty of the template.
				</h3>
				
				<!-- Nice place to describe your site in a sentence or two -->
				<p><a href="/download/" class="btn btn-default btn-lg">Download template now</a></p>
	
			</div> <!-- /col -->
		</div> <!-- /row -->
	
	</div>
</section>

<!-- Second (About) section -->
<section class="section" id="about">
	<div class="container">
	
		<h2 class="text-center title" data-ng-bind="ngx.about.ttl">About me</h2>
		<div class="row">
			<div class="col-sm-4 col-sm-offset-2">    
				<h5><strong>{{ngx.head_info.title}}<br></strong></h5>
				<p data-ng-bind="ngx.head_info.meta_description">Well, here it is: Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolorum, ullam, ducimus, eaque, ex autem est dolore illo similique quasi unde sint rerum magnam quod amet iste dolorem ad laudantium molestias enim quibusdam inventore totam fugit eum iusto ratione alias deleniti suscipit modi quis nostrum veniam fugiat debitis officiis impedit ipsum natus ipsa. Doloremque, id, at, corporis, libero laborum architecto mollitia molestiae maxime aut deserunt sed perspiciatis quibusdam praesentium consectetur in sint impedit voluptates! Deleniti, sequi voluptate recusandae facere nostrum?</p>    
			</div>
			<div class="col-sm-4" >
				<h5 ><strong>{{ngx.about.subttl}}<br></strong></h5>    
				<p data-ng-bind="ngx.about.desc">Tempore, eos, voluptatem minus commodi error aut eaque neque consequuntur optio nesciunt quod quibusdam. Ipsum, voluptatibus, totam, modi perspiciatis repudiandae odio ad possimus molestias culpa optio eaque itaque dicta quod cupiditate reiciendis illo illum aspernatur ducimus praesentium quae porro alias repellat quasi cum fugiat accusamus molestiae exercitationem amet fugit sint eligendi omnis adipisci corrupti. Aspernatur.</p>    
				
				<h5><strong>{{ngx.head_info.meta_author}}<br></strong></h5> 
				<ul class="list-inline banner-social-buttons">

                       <li data-ng-repeat="mysite in ngx.mysites">
                            <a href="{{mysite.link}}" class="btn btn-default btn-lg" target="_blank" data-ng-hide="mysite.ttl==''"><i class="fa fa-{{mysite.sitename}}"></i>
                            <span class="network-name" ng-bind="mysite.ttl"></span>
                            </a>
                        </li>
                       
                    </ul>
				<!-- <p>
					<a href="http://be.net/pozhilov9409">Behance</a> / <a href="https://twitter.com/serggg">Twitter</a> / <a href="http://linkedin.com/pozhilov">LinkedIn</a> / <a href="https://www.facebook.com/pozhilov">Facebook</a></p> -->
			</div>
		</div>
	</div>
</section>

<!-- Third (Works) section -->
<section class="section" id="themes">
	<div class="container">
	
		<h2 class="text-center title" data-ng-bind="ngx.works.ttl">More Themes</h2>
		<p class="lead text-center" data-ng-bind="ngx.about.subttl">
			Huge thank you to all people who publish<br>
			their photos at <a href="http://unsplash.com">Unsplash</a>, thank you guys!
		</p>
		<div class="row">
			<div class="col-sm-4 " ng-class="{'col-sm-offset-2': !($index%2)}" data-ng-repeat="item in ngx.works.items">
				<div class="thumbnail">
					<!-- <img src="assets/screenshots/sshot1.jpg" alt=""> -->
					<img ng-src="{{item.img}}" class="img-responsive" alt="{{item.desc}}">
					<div class="caption">
						<h3 ng-bind="item.ttl">Thumbnail label</h3>
						<p ng-bind="item.desc">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Neque doloribus enim vitae nam cupiditate eius at explicabo eaque facere iste.</p>
						<p>

							<!-- <a data-ng-href="{{link[$index]}}" target="_blank" class="btn btn-primary" role="button" data-ng-repeat="link in item.links" >Link{{$index+1}}</a>  -->
							<!-- <a href="#" class="btn btn-default" role="button">Button</a> -->
							<a data-ng-href="{{item.links[0]}}" target="_blank" class="btn btn-primary" role="button" ng-show="!!item.links[0]">Link1</a> 
							<a data-ng-href="{{item.links[2]}}" target="_blank" class="btn btn-primary" role="button" ng-show="!!item.links[0]">Link2</a> 
							<a data-ng-href="{{item.links[3]}}" target="_blank" class="btn btn-primary" role="button" ng-show="!!item.links[0]">Link3</a> 
						</p>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>

<!-- Fourth (Contact) section -->
<section class="section" id="contact">
	<div class="container">
	
		<h2 class="text-center title" data-ng-bind="ngx.contact.ttl">Get in touch</h2>

		<div class="row">
			<div class="col-sm-8 col-sm-offset-2 text-center">
				<p class="lead" data-ng-bind="ngx.contact.subttl">Have a question about this template, or want to suggest a new feature?</p>
				<p data-ng-bind="ngx.contact.desc">Feel free to email me, or drop me a line in Twitter!</p>
					 <!--emails-->
					   <div data-ng-include="'../../components/ngx/emails2.html'"></div>
					<!--/.emails-->
				<ul class="list-inline list-social">
					<!--mysites-->
					<li class="social-{{mysite.sitename}}" data-ng-repeat="mysite in ngx.mysites">
						<a href="{{mysite.link}}" target="_blank" data-ng-hide="mysite.ttl==''"><i class="fa fa-{{mysite.sitename}}"></i></a>
					</li>
					<!--/.mysites-->
				</ul>
			</div>
		</div>

	</div>
</section>


<!-- Load js libs only when the page is loaded. -->
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
<script src="http://netdna.bootstrapcdn.com/bootstrap/3.0.3/js/bootstrap.min.js"></script>
<script src="assets/js/modernizr.custom.72241.js"></script>
<!-- Custom template scripts -->
<script src="assets/js/magister.js"></script>

<!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
   
    <!--[if lt IE 9]>
    <script src="../../bower_components/es5-shim/es5-shim.js"></script>
    <script src="../../bower_components/json3/lib/json3.min.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
 

    <!-- build:js({client,node_modules}) app/vendor.js -->
      <!-- bower:js -->
       <!--  // <script src="../../bower_components/jquery/dist/jquery.js"></script> -->
        <script src="../../bower_components/angular/angular.js"></script> 
        <script src="../../bower_components/angular-resource/angular-resource.js"></script>
        <script src="../../bower_components/angular-cookies/angular-cookies.js"></script>
        <script src="../../bower_components/angular-sanitize/angular-sanitize.js"></script>
        <script src="../../bower_components/angular-bootstrap/ui-bootstrap-tpls.js"></script>
        <script src="../../bower_components/lodash/dist/lodash.compat.js"></script>
        <script src="../../bower_components/angular-socket-io/socket.js"></script>
        <script src="../../bower_components/angular-ui-router/release/angular-ui-router.js"></script>
        <script src="../../bower_components/ngAnimate/js/angular-animate.min.js"></script>
      <!-- endbower -->
        <script src="../../socket.io-client/socket.io.js"></script>
    <!-- endbuild -->
    <!-- build:js({.tmp,client}) app/app.js -->
        <script src="../../app/app.js"></script>
        <!-- injector:js -->
        <script src="../../app/account/account.js"></script>
        <script src="../../app/account/login/login.controller.js"></script>
        <script src="../../app/account/settings/settings.controller.js"></script>
        <script src="../../app/account/signup/signup.controller.js"></script>
        <script src="../../app/admin/admin.controller.js"></script>
        <script src="../../app/admin/admin.js"></script>
        <script src="../../app/main/main.controller.js"></script>
        <script src="../../app/main/main.js"></script>
        <script src="../../app/setNgAnimate/setNgAnimate.directive.js"></script>
        <script src="../../components/auth/auth.service.js"></script>
        <script src="../../components/auth/user.service.js"></script>
        <script src="../../components/modal/modal.service.js"></script>
        <script src="../../components/mongoose-error/mongoose-error.directive.js"></script>
        <script src="../../components/navbar/navbar.controller.js"></script>
        <script src="../../components/socket/socket.service.js"></script>
        <!-- endinjector -->
        <!-- endbuild -->
          <!--editform-->
        <div data-ng-include="'../../components/editform/editform.html'"></div>
        <!--/.editform-->
       

</body>
</html>